In [1]:
import pandas_datareader.data as web
import datetime
import pandas as pd
import numpy as np
import datetime
import pandas_datareader as web 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# pip install pandas_datareader

Reading and Displaying BTC Time Series Data

In [2]:
df2 = pd.read_excel("Data_Treatment - Great_Lakes.xlsx"
                   ,sheet_name = "Compiled_Data")

df = pd.read_excel("Data_Treatment - Great_Lakes.xlsx"
                   ,sheet_name = "Compiled_Data")


# df = df.drop([0,1,2], axis = 0)
heads = df.columns.to_list()
heads

['Month',
 'BRH',
 'MO',
 'RPO',
 'RCO',
 'WIP',
 'WS',
 'WRA',
 'BOTH',
 'MPBRH',
 'MPBOTH',
 'MC',
 'RC',
 'MPR',
 'PRO',
 'OTC',
 'OTCR',
 'OTCNS',
 'WIPN',
 'WIPC',
 'WIPCFP',
 'LC',
 'WSC',
 'WRAC',
 'TR',
 'NS',
 'MTS',
 'RPTS',
 'RCTS',
 'RTTS',
 'AV',
 'OTH',
 'NHR',
 'MTV',
 'ENG',
 'STL',
 'TNR',
 'AR']

In [3]:
df2.index = pd.to_datetime(df['Month'], format='%Y-%m-%d')

In [4]:
df2 = df2.drop("Month", axis = 1)

In [5]:
heads = df2.columns.to_list()
heads

['BRH',
 'MO',
 'RPO',
 'RCO',
 'WIP',
 'WS',
 'WRA',
 'BOTH',
 'MPBRH',
 'MPBOTH',
 'MC',
 'RC',
 'MPR',
 'PRO',
 'OTC',
 'OTCR',
 'OTCNS',
 'WIPN',
 'WIPC',
 'WIPCFP',
 'LC',
 'WSC',
 'WRAC',
 'TR',
 'NS',
 'MTS',
 'RPTS',
 'RCTS',
 'RTTS',
 'AV',
 'OTH',
 'NHR',
 'MTV',
 'ENG',
 'STL',
 'TNR',
 'AR']

In [6]:
df2.head(20)

,BRH,MO,RPO,RCO,WIP,WS,WRA,BOTH,MPBRH,MPBOTH,...,RCTS,RTTS,AV,OTH,NHR,MTV,ENG,STL,TNR,AR
Month,,,,,,,,,,,,,,,,,,,,,
2019-01-01,16076.83,NaN,216,58,NaN,NaN,NaN,182.51,4503.000000,51.123249,...,290,1370,NaN,182.51,NaN,0.71,0.79,0.34,0.04,0.10
2019-02-01,16345.90,NaN,242,68,NaN,NaN,NaN,33.87,4578.683473,9.487395,...,340,1550,NaN,33.87,NaN,0.73,0.82,0.28,0.04,0.08
2019-03-01,17658.42,NaN,378,120,NaN,NaN,NaN,592.12,4946.336134,165.859944,...,600,2490,NaN,985.09,NaN,0.70,0.83,0.28,0.09,0.05
2019-04-01,17683.93,NaN,406,0,NaN,NaN,NaN,1540.22,4953.481793,431.434174,...,0,2030,NaN,1297.20,NaN,0.55,0.76,0.49,0.04,0.06
2019-05-01,21552.34,NaN,414,0,NaN,NaN,NaN,1874.60,6037.070028,525.098039,...,0,2070,NaN,1724.65,NaN,0.65,0.82,0.49,0.10,0.05
2019-06-01,16620.99,NaN,328,0,NaN,NaN,NaN,1379.59,4655.739496,386.439776,...,0,1640,NaN,1424.34,NaN,0.67,0.73,0.49,0.11,0.07
2019-07-01,20494.89,NaN,267,0,NaN,NaN,NaN,533.29,5740.865546,149.380952,...,0,1335,NaN,488.54,NaN,0.73,0.86,0.27,0.03,0.11
2019-08-01,16428.82,NaN,335,0,NaN,NaN,NaN,69.13,4601.910364,19.364146,...,0,1675,NaN,69.13,NaN,0.65,0.87,0.33,0.01,0.10
2019-09-01,15284.33,NaN,253,0,NaN,NaN,NaN,10.75,4281.324930,3.011204,...,0,1265,NaN,10.75,NaN,0.49,0.78,0.45,0.03,0.11
2019-10-01,19306.18,NaN,336,0,NaN,NaN,NaN,47.50,5407.893557,13.305322,...,0,1680,NaN,47.50,NaN,0.67,0.79,0.27,0.08,0.06
2019-11-01,15374.65,NaN,252,0,NaN,NaN,NaN,23.75,4306.624650,6.652661,...,0,1260,NaN,23.75,NaN,0.58,0.83,0.38,0.05,0.08
2019-12-01,15115.38,NaN,193,0,NaN,NaN,NaN,224.78,4234.000000,62.963585,...,0,965,NaN,224.78,NaN,0.62,0.74,0.43,0.05,0.11
2020-01-01,12012.18,NaN,239,0,NaN,3.0,10.0,56.25,3364.756303,15.756303,...,0,1195,NaN,56.25,NaN,0.65,0.77,0.39,0.03,0.12
2020-02-01,14833.45,NaN,219,0,NaN,18.0,5.0,113.80,4155.028011,31.876751,...,0,1095,NaN,330.05,NaN,0.56,0.84,0.30,0.11,0.07
2020-03-01,15756.57,NaN,0,0,NaN,24.0,4.0,890.18,4413.605042,249.350140,...,0,0,NaN,711.43,NaN,0.80,0.81,0.26,0.10,0.05
2020-04-01,11298.94,NaN,221,0,NaN,26.0,8.0,37.50,3164.969188,10.504202,...,0,1105,NaN,0.00,NaN,0.65,0.82,0.44,0.05,0.07
2020-05-01,9620.22,NaN,139,0,NaN,32.0,11.0,5.50,2694.739496,1.540616,...,0,695,NaN,6.75,NaN,0.50,0.81,0.44,0.03,0.07
2020-06-01,12547.42,NaN,269,0,NaN,65.0,19.0,1609.98,3514.683473,450.974790,...,0,1345,NaN,2040.58,NaN,0.69,0.81,0.36,0.03,0.09
2020-07-01,18121.75,NaN,376,0,NaN,49.0,6.0,2749.35,5076.120448,770.126050,...,0,1880,NaN,2317.50,NaN,0.78,0.84,0.26,0.12,0.06
2020-08-01,14517.14,NaN,305,0,NaN,48.0,10.0,1737.36,4066.425770,486.655462,...,0,1525,NaN,2424.03,NaN,0.78,0.81,0.30,0.02,0.10

### Seasonal Auto-Regressive Integrated Moving Average with eXogenous factors (SARIMAX)

In [7]:
from statsmodels.tsa.statespace.sarimax import SARIMAX

In [37]:
y = df2["WIP"]
# y.reverse()
y = y.iloc[::-1]
y = y[0:20]
y

Month
2023-02-01      80.0
2023-01-01    1280.0
2022-12-01      20.0
2022-11-01      74.0
2022-10-01    1110.0
2022-09-01     594.0
2022-08-01      63.0
2022-07-01    1276.0
2022-06-01     822.0
2022-05-01      54.0
2022-04-01    1779.0
2022-03-01     758.0
2022-02-01      73.0
2022-01-01    1648.0
2021-12-01      35.0
2021-11-01     161.0
2021-10-01    1053.0
2021-09-01     583.0
2021-08-01       2.0
2021-07-01       8.0
Name: WIP, dtype: float64

In [69]:
SARIMAXmodel = SARIMAX(y, order = (2, 1, 0), seasonal_order=(0,0,0,12))
SARIMAXmodel = SARIMAXmodel.fit()

c:\Users\User\PycharmProjects\IE610\ven610\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency -1MS will be used.
  % freq, ValueWarning)
c:\Users\User\PycharmProjects\IE610\ven610\lib\site-packages\statsmodels\tsa\base\tsa_model.py:587: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  ' forecasting.', ValueWarning)
c:\Users\User\PycharmProjects\IE610\ven610\lib\site-packages\statsmodels\tsa\base\tsa_model.py:527: ValueWarning: No frequency information was provided, so inferred frequency -1MS will be used.
  % freq, ValueWarning)
c:\Users\User\PycharmProjects\IE610\ven610\lib\site-packages\statsmodels\tsa\base\tsa_model.py:587: ValueWarning: A date index has been provided, but it is not monotonic and so will be ignored when e.g. forecasting.
  ' forecasting.', ValueWarning)

In [70]:
y_pred = SARIMAXmodel.get_forecast(30)
y_pred_df = y_pred.conf_int(alpha = 0.02)
y_pred_df["Predictions"] = SARIMAXmodel.predict(start = y_pred_df.index[0], end = y_pred_df.index[-1])
# y_pred_df.index = test.index
y_pred_out = y_pred_df["Predictions"]

c:\Users\User\PycharmProjects\IE610\ven610\lib\site-packages\statsmodels\tsa\base\tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)
c:\Users\User\PycharmProjects\IE610\ven610\lib\site-packages\statsmodels\tsa\base\tsa_model.py:379: ValueWarning: No supported index is available. Prediction results will be given with an integer index beginning at `start`.
  ValueWarning)

In [71]:
y_pred_out

20    508.839753
21     38.466071
22     38.772605
23    448.475757
24     67.705745
25     64.231458
26    399.345475
27     91.143934
28     85.286766
29    359.361588
30    109.925833
31    102.694306
32    326.824008
33    124.971610
34    117.081326
35    300.348155
36    137.020443
37    128.968161
38    278.806495
39    146.665966
40    138.786267
41    261.280898
42    154.384807
43    146.893250
44    247.023806
45    160.559548
46    153.585384
47    235.426597
48    165.497194
49    159.108030
Name: Predictions, dtype: float64

In [ ]:
import numpy as np
from sklearn.metrics import mean_squared_error

arma_rmse = np.sqrt(mean_squared_error(test.values, y_pred_df["Predictions"]))
print("RMSE: ",arma_rmse)

### Seasonal ARIMA (SARIMA)

In [ ]:
SARIMAXmodel = SARIMAX(y, order = (5, 4, 2), seasonal_order=(2,2,2,12))
SARIMAXmodel = SARIMAXmodel.fit()

y_pred = SARIMAXmodel.get_forecast(len(test.index))
y_pred_df = y_pred.conf_int(alpha = 0.05) 
y_pred_df["Predictions"] = SARIMAXmodel.predict(start = y_pred_df.index[0], end = y_pred_df.index[-1])
y_pred_df.index = test.index
y_pred_out = y_pred_df["Predictions"]

In [ ]:
plt.plot(train, color = "black", label = 'Training')
plt.plot(test, color = "red", label = 'Testing')
plt.ylabel('BTC Price')
plt.xlabel('Date')
plt.xticks(rotation=45)
plt.title("Train/Test split for BTC Data")
plt.plot(y_pred_out, color='green', label = 'Predictions')
plt.plot(y_pred_out, color='Yellow', label = 'ARIMA Predictions')
plt.plot(y_pred_out, color='Blue', label = 'SARIMA Predictions')
plt.legend()
plt.show()

In [ ]:
sarima_rmse = np.sqrt(mean_squared_error(test.values, y_pred_df["Predictions"]))
print("RMSE: ",sarima_rmse)

### Random gen

In [ ]:
y = df2["WIP"]

In [72]:
refs = y.tolist()
refs

[80.0,
 1280.0,
 20.0,
 74.0,
 1110.0,
 594.0,
 63.0,
 1276.0,
 822.0,
 54.0,
 1779.0,
 758.0,
 73.0,
 1648.0,
 35.0,
 161.0,
 1053.0,
 583.0,
 2.0,
 8.0]

In [80]:
fills = []
for i in range(30):
    fills.append(np.random.choice(refs) + np.random.choice(range(5,50)))

fills = pd.DataFrame(fills)

In [81]:
fills.to_excel("WIP.xlsx")